/* ----------------------------------------------- RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/
   2. v2.0 | 20110126 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------------------------------------------- LAYOUT
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  clear: both;
  *zoom: 1; }

.logo__container, .search__container, .i-container {
  min-height: 50px;
  min-width: 50px;
  line-height: 50px; }

.logo__container, .search__container {
  color: #fff;
  text-align: center; }

.hero__title, .hero__sub, .section__name, .poster__name, .title__name_date, .infos__items {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* ------------------------------------------------ BASE
*/
body {
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* To target IE9 downwards and Opera the html attribute unselectable must be used instead: <div unselectable="on">Test Text</div> */ }

a {
  display: block;
  text-decoration: none;
  color: #212121; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.i-container {
  max-height: 50px;
  max-width: 50px;
  text-align: center;
  cursor: pointer; }

/* ------------------------------------------- typo
(on a 16pixels font-size format)
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

strong {
  font-weight: 700; }

cite, em {
  font-style: italic; }

/* ---------------------------------------------- LAYOUT
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

/* --------------------------------------------- MODULES
*/
/* ---------------------------------- header-top
*/
.page {
  position: relative;
  /*for the header to adjust with fixed position*/
  margin: 0 auto;
  max-width: 768px;
  /* no width. if page not 100%, nothing is responsive*/
  min-width: 300px;
  background-color: #333; }

.header {
  position: absolute;
  width: 768px;
  /*over 768px use fixed width so it adapts to */
  background-color: #e6b91e;
  /*for browser support if transparent not supported*/
  background-color: rgba(230, 185, 30, 0.8);
  z-index: 6; }

@media (max-width: 768px) {
  /* only to make the header responsive under 768px. the page merge with viewport under 768px so 100% is ok. 100vw too*/
  .header {
    width: 100%; } }
.header__top {
  display: flex; }

.logo__container {
  display: flex;
  width: calc(100% - 100px);
  justify-content: center;
  align-items: center;
  padding-left: 10px; }

.logo__img {
  max-width: 70px;
  max-height: 70px; }

.search__container {
  display: none;
  width: calc(100% - 70px - 50px);
  padding: 0 10px; }

.search__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  text-transform: capitalize; }

.search__input::placeholder {
  color: #fff; }

/* ----------------------------------------- nav
*/
.nav__list {
  display: flex;
  padding: 5px; }

.nav__item {
  flex: 1;
  text-align: center; }

.nav__link {
  flex: 1;
  padding: 5px;
  border-radius: 4px;
  border-right: 1px solid rgba(230, 185, 30, 0.7);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: capitalize;
  font-family: "Calibri", sans-serif;
  font-size: 0.9em; }

.nav__link.active, .nav__link:hover {
  background-color: #fff;
  opacity: .9;
  color: #000; }

/* ---------------------------------------- hero
*/
.slide-viewer,
.hero__window {
  position: relative;
  overflow: hidden; }

.slide-group {
  width: 300%;
  display: flex;
  flex-wrap: nowrap; }

.hero__slide {
  display: none;
  width: calc(100%/3); }
  .hero__slide:first-child {
    display: block; }

.hero__content {
  width: 100vw;
  border-bottom: 2px solid #e6b91e; }

.hero__img {
  width: 100vw;
  min-width: 300px; }

.hero__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* for the hero__title ellipsis to work */
  padding: 20px 20px 30px;
  background-color: #212121;
  opacity: 0.8;
  color: #fff;
  text-transform: capitalize;
  font-family: "Lucida Grande", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  z-index: 1; }

.hero__sub {
  display: inline-block;
  /* for the hero__title ellipsis to work */
  width: 100%;
  /* for the hero__title ellipsis to work */
  margin-top: 9px;
  font-size: .6em;
  line-height: 1; }

.slide-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 2; }

.slide_btn {
  border: none;
  outline: 0;
  background: none;
  color: silver;
  font-size: 150%;
  line-height: 0.5em;
  opacity: 0.8; }

.slide_btn.active, .slide_btn:hover {
  border: none;
  color: #e6b91e;
  cursor: pointer; }

/* ------------------------------------- section
*/
.section__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px; }

.section__name, .poster__name, .title__name_date, .infos__items {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  opacity: 0.7;
  text-transform: capitalize; }

.section__title i:only-of-type {
  color: #346CCB;
  /*color: $main-bg;*/
  min-width: 50px;
  text-align: center; }

.icon__greater {
  color: #e6b91e;
  margin-left: auto; }

/* ------------------------------------- posters
*/
.posters__window {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap; }

.posters__container {
  width: 200%;
  display: flex;
  flex-wrap: nowrap; }

.poster {
  width: calc((100% - 3%)/7);
  max-width: 214px;
  margin-right: .5%;
  border-top: 3px solid transparent; }
  .poster:last-child {
    margin-right: 0; }
  .poster:hover {
    background-color: #212121;
    opacity: 0.8;
    border-radius: 0 0 5px 5px;
    border-top: 3px solid #e6b91e; }

.poster__name {
  padding: 5px;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: normal; }

/* --------------------------------------- title
*/
.title__overview {
  margin-top: 10px; }

.title__watchlist > i {
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  color: #e6b91e; }

.title__watchlist {
  display: inline-block;
  vertical-align: top;
  margin-left: calc(20px - (50px - 32.5px)/2);
  /* 20px margin without the space on the left of the icon (50px of container - 32.5 of icon and /2 to get one side)*/ }

#addToWatchlist {
  background-color: #e6b91e;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em; }

#addToWatchlist i {
  color: green; }

.title__details {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  letter-spacing: 0.08em; }

.title__name {
  text-transform: capitalize; }

.title__name_date {
  font-size: 1em; }

.infos__list {
  display: flex;
  align-items: center; }

.infos__items {
  padding: 0 5px;
  margin-right: 4px;
  font-size: 0.6em;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px; }

.infos__items_time {
  border: inherit; }

.title__synop {
  padding: 15px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  text-align: justify;
  opacity: 0.8; }

.media {
  display: flex;
  flex-wrap: nowrap;
  width: 100%; }

.media__trailer {
  position: relative;
  width: 50%;
  margin-right: 1%; }
  .media__trailer a {
    color: #fff; }
  .media__trailer .i-container {
    position: absolute;
    top: calc(50% - (50px/2));
    left: calc(50% - (50px/2));
    opacity: 0.5; }
    .media__trailer .i-container:hover {
      opacity: 0.8; }
  .media__trailer .infos__items {
    position: absolute;
    top: 10%;
    left: 5%;
    color: #fff;
    opacity: 1; }

.media__pictures {
  position: relative;
  width: 50%; }
  .media__pictures a {
    color: #fff; }
  .media__pictures .i-container {
    position: absolute;
    top: calc(50% - (50px/2));
    left: calc(50% - (50px/2));
    opacity: 0.3; }
    .media__pictures .i-container:hover {
      opacity: 0.6; }
  .media__pictures .infos__items {
    position: absolute;
    top: 10%;
    left: 5%;
    color: #fff;
    opacity: 1; }

/* --------------------------------------------- STATES
*/
.is-hidden {
  display: none; }

.is-active {
  display: block; }

/*# sourceMappingURL=main.css.map */
